<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>tableView_dataStatis.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>CFB0BE9F1ECD9AD7003C16D6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CFB0BEB31ECD9AD8003C16D6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CFB0BEBE1ECD9AD8003C16D6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
